/* styles.css */
body {
    background-color: #252a41;
    font-family: "Poppins", sans-serif;
}

h2 {
    color: #007bff;
}

.table {
    margin-top: 20px;
    margin: 0;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    outline: none;
}

.table-responsive {
    padding: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.234);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#saldo {
    font-weight: bold;
}

tr input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
}

tr input::placeholder {
    color: black;
}

tr select {
    border: none;
    outline: none;
    background: none;
}

#addForm {
    margin: 10px 0;
    background: white;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.201);
    border: 1px solid rgba(0, 0, 0, 0.234);
}

#addForm div {
    text-align: center;
    margin: 10px 0;
}

.filtrar {
    display: flex;
    margin: 5px 0;
    padding: 0.2rem 1rem;
    border-radius: 10px;
    max-width: 100%;
    overflow-x: auto;
}

.divFiltrar {
    background: white;
    margin: 20px 0;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.201);
    border: 1px solid rgba(0, 0, 0, 0.234);
}

.divFiltrar p {
    margin: 5px 0;
}

.filtro {
    padding: 0.3rem 1rem;
    border-radius: 5px;
    min-width: fit-content;
    margin: 5px;
}

.filtro:hover {
    cursor: pointer;
    background: gray;
}

.divClassificarVisualizar {
    background: white;
    display: flex;
    gap: 1.5rem;
    margin: 20px 0;
    padding: 1rem 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.201);
    border: 1px solid rgba(0, 0, 0, 0.234);
}

.divClassificarVisualizar select {
    border: 3px solid rgba(0, 0, 0, 0.064);
    padding: 0.5rem;
    border-radius: 5px;
    outline: none;
}

#myChart {
    background: rgba(156, 194, 236, 0.987);
    margin: 10px auto;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    width: min-content;
    max-width: 650px;
}
#myChart1 {
    background: rgba(156, 193, 236, 0.47);
    margin: 10px auto;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    width: min-content;
    max-width: 650px;
}

.charts {
    display: flex;
    width: 100%;
    overflow-x: auto;
    background: white;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.201);
    border: 1px solid rgba(0, 0, 0, 0.234);
}

.table-striped > tbody > tr.trEntrada > td {
    background-color: rgb(144, 237, 144) !important;
}

.table-striped > tbody > tr.trSaída > td {
    background-color: rgb(236, 126, 126) !important;
}

tbody tr {
    font-size: 1.1rem;
}

.deletarLinha button {
    background: none;
    border: none;
    outline: none;
    width: fit-content;
}

#btnSair {
    color: red;
    margin: 50px auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selecionado {
    background: gainsboro !important;
}

.positivo {
    background: green !important;
    color: white !important;
}

.negativo {
    background: red !important;
    color: white !important;
}

.deletarLinha {
    display: flex;
    justify-content: space-evenly;
}

.hidden {
    display: none !important;
}

.hidden1 {
    display: none !important;
}

.hidden2 {
    display: none !important;
}
.hidden3 {
    display: none !important;
}
