/* styles.css */
body {
    background-color: #f8f9fa;
    font-family: "Poppins", sans-serif;
}

h2 {
    color: #007bff;
}

.table {
    margin-top: 20px;
    border: 1px solid #dee2e6;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#saldo {
    font-weight: bold;
}

tr input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
}

tr input::placeholder {
    color: black;
}

tr select {
    border: none;
    outline: none;
    background: none;
}

.filtrar {
    display: flex;
    margin: 10px 0;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    max-width: 100%;
    overflow-x: scroll;
}

.filtro {
    padding: 0.3rem 1rem;
    border-radius: 5px;
    min-width: fit-content;
    margin: 5px;
}

.filtro:hover {
    cursor: pointer;
    background: gray;
}

#myChart {
    background: rgba(156, 194, 236, 0.987);
    margin: 10px auto;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    width: fit-content;
}

.table-striped > tbody > tr.trEntrada > td {
    background-color: rgb(144, 237, 144) !important;
}

.table-striped > tbody > tr.trSaída > td {
    background-color: rgb(236, 126, 126) !important;
}

.selecionado {
    background: gainsboro !important;
}

.positivo {
    background: green !important;
    color: white !important;
}

.negativo {
    background: red !important;
    color: white !important;
}

.deletarLinha {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.hidden1 {
    display: none !important;
}

.hidden2 {
    display: none !important;
}
.hidden3 {
    display: none !important;
}
